{{#if asignaturas}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr class="text-center">
            <th>Num.</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Horas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each asignaturas}}
        <tr>
            <td>{{@index}}</td>
            <td>{{nombre}}</td>
            <td>{{creditos}}</td>
            <td>{{horas}}</td>
            <td>
                {{#if opcion}}
                <a href="/asignaturas/{{_id}}/statusAsignaturas" class="btn btn-warning">No disponible</a>
                {{else}}
                <a href="/asignaturas/{{_id}}/statusAsignaturas" class="btn btn-success">Disponible</a>
                {{/if}}
                <a href="/asignaturas/{{_id}}/update" class="btn btn-info mt-2">Actualizar</a>
                <a href="/asignaturas/{{_id}}/delete" class="btn btn-danger mt-2">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-centyer">
    <div class="text-center text-white">
        <h1>No hay asignaturas</h1>
        <img src="/icons/dobbydance.gif" class="w-50">
    </div>
</div>
{{/if}}
